<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="model.nombre" #nombre="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" required />
            <div *ngIf="f.submitted && nombre.invalid" class="invalid-feedback">
              <div *ngIf="nombre.errors.required">El Nombre es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="apellidoPaterno">Apellido Paterno</label>
            <input type="text" class="form-control" name="apellidoPaterno" [(ngModel)]="model.apellidoPaterno" #apellidoPaterno="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && apellidoPaterno.invalid }" required />
            <div *ngIf="f.submitted && apellidoPaterno.invalid" class="invalid-feedback">
              <div *ngIf="apellidoPaterno.errors.required">Apellido Paterno es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="apellidoMaterno">Apellido Materno</label>
            <input type="text" class="form-control" name="apellidoMaterno" [(ngModel)]="model.apellidoMaterno" #apellidoMaterno="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && apellidoMaterno.invalid }" required />
            <div *ngIf="f.submitted && apellidoMaterno.invalid" class="invalid-feedback">
              <div *ngIf="apellidoMaterno.errors.required">Apellido Materno es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              required email />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">El Email es requerido</div>
              <div *ngIf="email.errors.email">Se tiene que escribir un Email valido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password es requerido</div>
              <div *ngIf="password.errors.minlength">El Password tiene que tener un minimo de 6 caracteres</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" [disabled]="!f.form.valid">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Apellido Paterno</th> 
    <th>Apellido Materno </th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let item of listForm">
      <td>{{ item.nombre }}</td>
      <td>{{ item.apellidoMaterno }}</td>
      <td>{{ item.apellidoPaterno }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.password }}</td>
  </tr>
 
</table> 
